$white: #fff;
$gray-100: #f8f9fc;
$gray-200: #eaecf4;
$gray-300: #dddfeb;
$gray-400: #d1d3e2;
$gray-500: #b7b9cc;
$gray-600: #858796;
$gray-700: #6e707e;
$gray-800: #5a5c69;
$gray-900: #3a3b45;
$black: #000;

$blue: #4a4aea;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #e74a3b;
$orange: #fd7e14;
$yellow: #f6c23e;
$green: #1cc88a;
$teal: #20c9a6;
$cyan: #36b9cc;

// Custom Colors
$no-color: #fff0;
$menu-color: #807e7e;
$slide-color: #d7dde9;
$footer_color: #f5f5f5;

// themes Colors
$themes-one: #507742;
$themes-two: #ed0a6a;
$themes-three: #893cfd;
$themes-four: #151414;

// themes color $themes-one 
$themes-one-new-collection: #2e3627;
$themes-one-focus: #5077424d;

