@font-face {
font-family: 'Varela Round';
font-style: normal;
font-weight: normal;
src: url('../../fonts/VarelaRound-Regular.ttf') format('truetype');
}

@font-face {
font-family: 'Poppins Regular';
font-style: normal;
font-weight: normal;
src: url('../../fonts/Poppins-Regular_0.ttf') format('truetype');
}

@font-face {
font-family: 'Poppins Medium';
font-style: normal;
font-weight: normal;
src: url('../../fonts/Poppins-Medium_0.ttf') format('truetype');
}


@font-face {
font-family: 'Poppins ExtraLight';
font-style: normal;
font-weight: normal;
src: url('../../fonts/Poppins-ExtraLight_0.ttf') format('truetype');
}

 @import url('https://fonts.googleapis.com/css?family=Roboto:300');

@font-face {
font-family: 'Lato';
font-style: normal;
font-weight: normal;
src: url('../../fonts/Lato-Semibold_0.ttf') format('truetype');
}

